
#Encabezado{
    background-color: forestgreen;
    margin-bottom: 1%;
    height: 21%;
}

#EncabezadoHome{
    background-color: forestgreen;
    margin-bottom: 1%;
    height: 15%;
}

header{
    text-align: center;
    justify-content: center;
}

header h1{
    margin-top: 1%;
}

nav a{
    color: black;
    margin-right: 1%;
    text-decoration: none;
}

nav{
    text-align: center;
}

table{
    border-collapse: separate;
    border-spacing: 10px;
}

td{
    text-align: center;
}

.Imagen{
    width: 200;
    height: 120;
}

.FotoLugar{
    width: 50%;
    height: 50%;
}

h3{
    margin-left: 1%;
}

li{
    margin-bottom: 1%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    height: 10%;
    margin-top: 3%;
}

p{
    margin-left: 1%;
}

video{
    width: 50%;
    height: 50%;
    margin-bottom: 3%;
    margin-left: 1%;
}

audio{
    margin-bottom: 3%;
    margin-left: 1%;
}

iframe{
    margin-left: 1%;
    margin-bottom: 3%;
}

article a{
    margin-left: 1%;
}



